h1 {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

p {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 5px;
}

body {
  font-family: Quicksand;
  color: white;
  background-image: linear-gradient(#134d71, #f7e4bf);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

section {
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  color: white;
  font-family: inherit;
  font-size: 16px;
  background-color: #134d71;
  border-radius: 15px;
  height: 40px;
  width: 200px;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#button-box {
  margin: 0 20% 3%;
  padding: 20px 15%;
}

#message-output {
  margin: 3% 10%;
  font: inherit;
  font-size: 18px;
  font-weight: bolder;
}

#add-message {
  margin: 0;
  display:flex;
  align-self: center;
}

#new-message-form {
  font-size: 16px;
  font-weight: normal;
}

input[type=text] {
  width: 100%;
  transition: width 0.4s ease-in-out;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-content: center;
}

input[type=text]:focus {
  width: 140%;
}

img {
  height: 100px;
}
/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */
